* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family:  Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: .5rem;
}

h2 {
    font-size:  1.5rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    max-width: 600px;
}

header {
    height:5rem;
}

footer {
    height:4rem;
    font-size: .90rem;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width:  750px;
    border-radius: 15px;
}

header, footer, footer a {
    text-align: center;
    background-color:rgb(11, 74, 94);
    color: rgb(255, 255, 255);
    font-family: 'Source Serif Pro', serif;
    padding: 10px;
}

header img {
    max-height: 175px;
    max-width: auto;
    float: right;
}

ul {
    padding-top: .75rem;
}

ul li {
    margin: -7px;
}

#updated {
    color: yellow;
    font-size: .80rem;
    margin: -8px;
}
