* {
    margin: 0;
}

body {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color: #C6c5b9;
}

header,
footer {
    background-color: #4a6d7c;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
}

header,
footer,
footer a {
    color: rgb(255, 255, 255);

}

header,
nav,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}



header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Kalam', cursive;
}

.flex-left,
.flex-right {
    flex: 1 10px;
}

.flex-center {
    flex: 5;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
}

nav {
    background-color: #62929e;
    text-align: center;
    box-shadow: 0 2px 15px gray;
    border-radius: 10px;
    font-family: Source Serif Pro;
    font-size: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}

nav a:hover {
    background-color: #475657;
    color: white;
}

.active {
    color: yellow;
}

h3 {
    text-align: center;
    color: #2E83AB;
    font-size: 2rem;
    padding: 20px;
    
}

#color1,
#color2,
#color3,
#color4,
#color5 {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    color: white;
}

#color1 {
    background-color: #2E6B88;
}

#color2 {
    background-color: #2E83AB;
}

#color3 {
    background-color: #ADAEB1;
}

#color4 {
    background-color: #000000;
}

#color5 {
    background-color: #2B4239;
}

#font-1 {
    font-family: Source Serif Pro;
}

#font-2 {
    font-family: Kalam;
}

#font-3 {
    font-family: Helvetica;
}

.purpose {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

table {
    font-family: 'Source Serif Pro', serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}

thead {
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 10px;

}

tr {
    display: flex;
    -ms-flex-align: stretch;
    margin-bottom: 1em;
}

td,
th {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 50%;
}

footer {
    font-size: .88rem;
    font-family: 'Buenard', serif;
}

#updated {
    color: rgb(255, 255, 0);
    font-size: .80rem;
}