/*------------------------------------ Body ---------------------------------*/


/*----------------------------------- Header --------------------------------*/
header,
footer {
    max-width: auto;
    margin: auto;
}

header {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
        padding: 10px 0 10px 0;
    }

    .logo {
        width: 75px;
    }
}


/*----------------------------------- Main ----------------------------------*/
main {
    max-width: 1200px;
    margin: auto;

    figure {
        width: 75%;
        margin: 0 auto;
    }

    h1 {
        font-size: 2rem;
    }
}


/*--------------------------- Navigation / Side Bar Menu --------------------*/
.sidebar a {
    font-size: 1.25rem;
}

.openbtn {
    font-size: 35px;
    padding: 10px 10px 10px 35px;
}

.sidebar .closebtn {
    font-size: 40px;
    padding-top: 25px;
}


/*----------------------------------- Home Page -----------------------------*/
.siteResources {
    font-size: 1.35rem;
}

/*---------------------------------- Temple Page ----------------------------*/



/*------------------------------ Reservations Page --------------------------*/
.reservationsPageMain {

    form {

        fieldset {
            width: 35%;
        }
    }

}


/*------------------------------- Services Page -----------------------------*/


/*----------------------------- Receptions Page ------------------------------*/


/*----------------------------- Missionaries Page ---------------------------*/


/*------------------------------- Contact Us Page ---------------------------*/
.contactPageMain {

    form {

        fieldset {
            width: 35%;
        }
    }
}


/*----------------------------- Resources Page --------------------------*/
.resource {
    font-size: 1.25rem;
}