/*------------------------------------ Body ---------------------------------*/


/*----------------------------------- Header --------------------------------*/
header,
footer {
    width: auto;
    margin: auto;
}

header {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
        padding: 10px 0 10px 0;
    }

    .logo {
        width: 75px;
    }
}


/*----------------------------------- Main ----------------------------------*/
main {
    max-width: 1200px;
    margin: auto;

    figure {
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        font-size: 2rem;
    }
}


/*--------------------------- Navigation / Side Bar Menu --------------------*/
.sidebar a {
    font-size: 1.25rem;
}

.openbtn {
    font-size: 30px;
    padding: 10px 10px 10px 15px;
}

.closebtn {
    font-size: 40px;
    padding-top: 25px;
}

.breadcrumb {
    margin-left: -1.5rem;
    font-size: 1.25rem;
}


/*----------------------------------- Home Page -----------------------------*/
.homePageMain {

.picDiv {
    grid-template-columns: 1fr 1fr 1fr;
}

.return {
    padding: 20px 0 50px 0;
    font-size: 1.75rem;
}


.siteResources {
    font-size: 1.35rem;
}

h2 {
    font-size: 4rem;
}
}


/*---------------------------------- Temple Page ----------------------------*/



/*------------------------------ Reservations Page --------------------------*/
.reservationsPageMain {

    form {

        fieldset {
            width: 35%;
        }
    }

}


/*------------------------------- Services Page -----------------------------*/


/*----------------------------- Receptions Page ------------------------------*/
.receptionsPageMain {

    h2 {
        font-size: 2rem;
    }

    h3 {
        text-align: center;
        text-decoration: underline;
    }

    figure {
        padding: 10px;
    }

    .servicesSection1,
    .servicesSection3 {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0 20px 0;
    }

    .pics1,
    .pics3 {
        display: flex;
        flex-flow: column;
        max-width: 50%;
        flex: 1 0 15em;
        padding: 10px;
    }

    .pics2,
    .pics4 {
        display: flex;
        flex-flow: row;
        flex: 1 0 15em;
        padding: 10px;
    }

    .offersList,
    .foodList {
        display: flex;
        flex-flow: column;
        max-width: 50%;
        flex: 1 0 15em;
        padding: 10px;
        line-height: 2.5rem;
    }
}


/*----------------------------- Missionaries Page ---------------------------*/
.missionariesPageMain {
    max-width: 1750px;

    form {

        fieldset {
            width: 50%;
        }

        .picsSection {
            display: flex;
            flex-flow: column;
            text-align: left;

            figure {
                padding: 0;
                border-radius: 0;
            }
        }
    }

    .picDiv {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .return {
        padding: 20px 0 50px 0;
        font-size: 1.75rem;
    }
}


/*------------------------------- Contact Us Page ---------------------------*/
.contactPageMain {

    form {

        fieldset {
            width: 35%;
        }
    }
}


/*----------------------------- Resources Page --------------------------*/
.resource {
    font-size: 1.25rem;
}