/*------------------------------------ Body ---------------------------------*/


/*----------------------------------- Header --------------------------------*/
header,
footer {
    max-width: auto;
    margin: auto;
}


/*----------------------------------- Main ----------------------------------*/
main {
    max-width: 1200px;
    margin: auto;

    figure {
        width: 100%;
        margin: 0 auto;
    }
}


/*--------------------------- Navigation / Side Bar Menu --------------------*/


/*----------------------------------- Home Page -----------------------------*/



/*---------------------------------- Temple Page ----------------------------*/



/*------------------------------ Reservations Page --------------------------*/



/*------------------------------- Services Page -----------------------------*/



/*------------------------------- Contact Us Page ---------------------------*/



/*----------------------------- References Us Page --------------------------*/



/*----------------------------- Reception Page ------------------------------*/



/*----------------------------- Missionaries Page ---------------------------*/