nav li {
    width: 25%;
    float: left;
}

/*
main figure {
    float: right;
    width: 48%;
    margin-left: 2%;
    padding-bottom: .5rem;
}

*/
/************************ Home Page ************************/



/************************ Temple Page ************************/
/*.sidebar {
    left: 0px;
    padding-top: 50px;
}

.sidebar a {
    font-size: 1.5rem;
}
*/


/************************ Reservations Page ************************/



/************************ Services Page ************************/



/************************ Contact Us Page ************************/



/************************ References Page ************************/



/************************ Reception Page ************************/



/************************ Missionaries Page ************************/