/*------------------------------------ Body ---------------------------------*/
/*
main figure {
    float: right;
    width: 48%;
    margin-left: 2%;
    padding-bottom: .5rem;
}



/*----------------------------------- Header --------------------------------*/



/*----------------------------------- Main ----------------------------------*/


/*---------------------------------- Footer ---------------------------------*/


/*----------------------------------- Home Page -----------------------------*/
    

/*---------------------------------- Temple Page ----------------------------*/
/*.sidebar {
    left: 0px;
    padding-top: 50px;
}

.sidebar a {
    font-size: 1.5rem;
}
*/


/*--------------------------- Navigation / Side Bar Menu --------------------*/



/*------------------------------ Reservations Page --------------------------*/



/*------------------------------- Services Page -----------------------------*/



/*------------------------------- Contact Us Page ---------------------------*/



/*----------------------------- References Us Page --------------------------*/



/*----------------------------- Reception Us Page ---------------------------*/



/*----------------------------- Missionaries Us Page ------------------------*/