/*------------------------------------ Body ---------------------------------*/


/*----------------------------------- Header --------------------------------*/
header {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.25rem;
        padding: 10px 0 10px 0;
    }

    .logo {
        width: 100px;
    }
}


/*--------------------------- Navigation / Side Bar Menu --------------------*/
.sidebar a {
    font-size: 1.55rem;
}

.openbtn {
    font-size: 50px;

}

.sidebar .closebtn {
    font-size: 60px;
    padding-top: 25px;
}


/*----------------------------------- Main ----------------------------------*/
main {

    figcaption {
        font-size: 1.25em;
        padding: 10px 0 0 0;
    }

    h1 {
        font-size: 3.5rem;
    }
}

/*---------------------------------- Footer ---------------------------------*/
footer {
font-size: 1.5rem;
}


/*----------------------------------- Home Page -----------------------------*/


/*---------------------------------- Temple Page ----------------------------*/
.templesMain {

    h1 {
        font-size: 3.5rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 2.25rem;
    }

    h6 {
        font-size: 1.75rem;
    }

    p,
    li {
        font-size: 1.5rem;
    }

    .weatherSummary {
        padding: 0 0 10px 0;
    }

    .summaryContainer {
        font-size: 1.25rem;

    }

    section {
        padding-bottom: 50px;
    }

    .forecastSection {
        display: grid;
        background-color: rgb(211, 204, 185);
        margin: 0 auto;
        text-align: center;
    }

    .forecastDayContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 600px;
        height: 200px;
        margin: 0 auto;
        text-align: center;
        background-color: rgb(178, 179, 180);
    }

    .forecastSec,
    .forecastDayContainer,
    .forecastWeekday,
    .forecastIcon,
    .forecastTemp {
        border: 1px solid black;
    }

    .forecastWeekday {
        background-color: #28536B;
        text-align: center;
        color: white;
        padding: 10px 0 0;
        font-size: 2rem;
    }

    .forecastIcon {
        padding: 10px 0 0 0;
        border-bottom: none;
    }

    .forecastSection img {
        width: 75px;
    }

    .forecastTemp {
        font-size: 2rem;
        padding: 10px 0 10px 0;
        border-top: none;
    }

    .forecastSection h4 {
        font-size: 2.5rem;
        padding: 10px 10px 30px 10px;
    }

    .forecastSection p {
        font-size: 1rem;
        padding: 20px 0 0 0;
        font-family: 'Buenard', serif;
    }

       .forecastSection {
        display: grid;
        background-color: #ACC18A;
        margin: 0 auto;
        text-align: center;
        padding: 10px 10px 30px 10px;
    }

    .forecastDayContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 600px;
        height: 200px;
        margin: 0 auto;
        text-align: center;
        background-color: rgb(178, 179, 180);
    }

    .forecastSec,
    .forecastDayContainer,
    .forecastWeekday,
    .forecastIcon,
    .forecastTemp {
        border: 1px solid black;
    }

    .forecastWeekday {
        background-color: #28536B;
        text-align: center;
        color: white;
        padding: 10px 0 0;
        font-size: 2rem;
    }

    .forecastIcon {
        padding: 10px 0 0 0;
        border-bottom: none;
    }

    .forecastSection img {
        width: 75px;
    }

    .forecastTemp {
        font-size: 2rem;
        padding: 10px 0 10px 0;
        border-top: none;
    }

    .forecastSection h4 {
        font-size: 2.5rem;
        padding: 10px 10px 30px 10px;
    }

    .forecastSection p {
        font-size: 1rem;
        padding: 20px 0 0 0;
        font-family: 'Buenard', serif;
    }
}

/*--------------------------- Navigation / Side Bar Menu --------------------*/



/*------------------------------ Reservations Page --------------------------*/



/*------------------------------- Services Page -----------------------------*/



/*------------------------------- Contact Us Page ---------------------------*/



/*----------------------------- References Us Page --------------------------*/



/*----------------------------- Reception Us Page ---------------------------*/



/*----------------------------- Missionaries Us Page ------------------------*/