/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*---------- apply a natural box layout model to all elements -------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*------------------------------------ Body ---------------------------------*/
body {
    font-family: $bodyFontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}



/*----------------------------------- Header --------------------------------*/
header {
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    text-align: center;
    background: rgb(242, 251, 224);
    background: linear-gradient(0deg, rgba(242, 251, 224, 1) 0%,
            rgba(172, 193, 138, 0.7931547619047619) 100%);
    padding: 1rem $gutter;
    font-family: $headerFontFamily;

    h1 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: $heavyWeight;
        line-height: 2.75rem;
        font-weight: $regularWeight;
        padding: 0;
    }

    h2 {
        margin: 0;
        font-size: .85rem;
        font-weight: $regularWeight;
        padding: 0 0 10px 0;
    }

    .logo {
        width: 75px;
        padding: 0 0 0 0;
    }
}


/*--------------------------- Navigation / Side Bar Menu --------------------*/
.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: absolute;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-align: left;
    font-size: 1.25rem;
    font-family: $navFontFamily;
    color: white;
    display: block;
    transition: 0.3s;
    line-height: 2rem;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-align: center;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 40px;
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, #605B56 0%, #ffffff 100%);
    padding: 10px 10px 10px 20px;
    border: none;
    width: 200px;
    text-align: left;
}

.openbtn:hover {
    background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 0 15px 0 0;
}

.active {
    background-color: #444;
}

.listIndent {
    text-indent: 2rem;
}

.listIndentActive {
    background-color: #444;
    text-indent: 2rem;
}



/*----------------------------------- Main ----------------------------------*/
main {
    display: block;
    padding: 1rem $gutter;
    padding-top: 0;

    h1 {
        color: $mainH1FontColor;
        background-color: $mainH1BackgoundColor;
        font-weight: $heavyWeight;
        text-align: center;
        padding: 20px 0 20px 0;
        border-bottom: 3px solid black;
    }

    figure img {
        width: 100%;
    }

    figure {
        margin: 0;
        width: 100%;
    }

    figcaption {
        text-align: center;
        font-size: 1rem;
        padding: 5px 0 0 0;
    }
}


/*---------------------------------- Footer ---------------------------------*/
footer {
    background: rgb(172, 193, 138);
    background: linear-gradient(0deg, rgba(172, 193, 138, 1) 0%, rgba(242, 251, 224, 0.8547794117647058) 100%);
    text-align: center;
    padding: 2rem $gutter;
}


/*----------------------------------- Home Page -----------------------------*/



/*---------------------------------- Temple Page ----------------------------*/
.templesMain {

    div {
        font-size: 1rem;
    }

    img {
        width: 80%;
        margin: 25px 0 10px 0;
        box-shadow: -1px 1px 22px 1px rgba(0, 0, 0, 1);
    }

    section {
        text-align: center;
    }

    .templeInfo section {
        padding-bottom: 50px;
        border-bottom: 3px solid black;
    }

}

/*------------------------------ Reservations Page --------------------------*/



/*------------------------------- Services Page -----------------------------*/



/*------------------------------- Contact Us Page ---------------------------*/



/*----------------------------- References Us Page --------------------------*/



/*----------------------------- Reception Page ------------------------------*/



/*----------------------------- Missionaries Page ---------------------------*/