/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* body rules */
body {
    font-family: $bodyFontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    text-align: center;
    background: rgb(242, 251, 224);
    background: linear-gradient(0deg, rgba(242, 251, 224, 1) 0%,
            rgba(172, 193, 138, 0.7931547619047619) 100%);
    padding: 1rem $gutter;
    font-family: $headerFontFamily;

    h1 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: $heavyWeight;
        line-height: 2.75rem;
    }

    h2 {
        margin: 0;
        font-size: .85rem;
        font-weight: $regularWeight;
        padding: 0 0 10px 0;
    }

    .logo {
        width: 75px;
        padding: 0 0 0 0;
    }
}

//end of header

nav {
    background-color: $navBackgroundColor;
    font-family: $navFontFamily;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
    }

    li.active {
        background-color: $navliColor;
    }

    a {
        display: block;
        padding: .8rem 0;
        //44px min
        color: $navColor;
        text-align: center;
        text-decoration: none;
    }

    a:hover {
        background-color: $navliColor;
    }
}

// end of nav

main {
    display: block;
    padding: 1rem $gutter;

    h1 {
        color: $mainH1Color;
        background-color: $primaryColor;
        font-weight: $heavyWeight;
        text-align: center;
        padding: 20px 0 20px 0;
    }

    figure img {
        width: 100%;
    }

    figure {
        margin: 0;
        width: 100%;
    }

    figcaption {
        text-align: center;
        font-size: .8rem;
    }
}

// end of main


footer {
    background: rgb(172, 193, 138);
    background: linear-gradient(0deg, rgba(172, 193, 138, 1) 0%, rgba(242, 251, 224, 0.8547794117647058) 100%);
    text-align: center;
    padding: 1rem $gutter;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.navlinks:after {
    content: "";
    display: table;
    clear: both;
}


/************************ Home Page ************************/



/************************ Temple Page ************************/



/************************ Reservations Page ************************/



/************************ Services Page ************************/



/************************ Contact Us Page ************************/



/************************ References Page ************************/



/************************ Reception Page ************************/



/************************ Missionaries Page ************************/