/* Colors */
$mainH1BackgoundColor: #DAFEB7;
$mainH1FontColor:black;
$cremeColor: #F2FBE0;

/* Fonts */
$headerFontFamily: 'Noto Serif';
$navFontFamily:'Arima Madurai';
$bodyFontFamily: 'Poly';

$regularWeight: 300;

$heavyWeight: 700;

$gutter: 2%;