/* Background Colors */
$primaryColor: #DAFEB7;
$navBackgroundColor: #837A75;

/* Font Colors */
$navColor: white;
$navliColor: #605B56;
$mainH1Color:black;

/* Fonts */
$headerFontFamily: 'Noto Serif';
$navFontFamily:'Arima Madurai';
$bodyFontFamily: 'Poly';

$regularWeight: 300;

$heavyWeight: 700;

$gutter: 2%;