@media only screen and (min-width: 32.5em) {

    main {
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    header,
    footer,
    footer a {
        border-radius: 10px;
    }

}