body {
    color: rgb(13, 13, 177);
    padding: 0 5%;
    font-family: 'Veranda', serif;
}

header div {
    text-align: center;
    margin: 10px;
    font-size: 2rem;
    padding: 10px 10px 50px 10px;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    row-gap: 5px;
    text-align: center;
    box-shadow: 2px 2px 10px 18px rgba(0, 0, 0, 0.40);
}

section {
    background-color: rgb(92, 117, 92);
    border: 1px solid rgb(78, 78, 78);
    padding: 10px;
}

p {
    color: rgb(230, 225, 225);
}

h2 {
    margin: 10px;
    padding-bottom: 10px;
}

img {
    width: 50%;
    height: auto;
    box-shadow: -1px 1px 22px 1px rgba(0, 0, 0, 1);
}

footer {
    text-align: center;
    margin: 10px;
    font-size: 1.25rem;
    padding: 50px 10px 10px 10px;
    line-height: 1.5rem;
    font-weight: bold;
}


/* Tablet Views ******************************/
@media only screen and (min-width: 32.5em) {

    div.cards {
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        width: 95%;
    }
}


/* Desktop Views ****************************/
@media only screen and (min-width: 64em) {

    div.cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
    }
}