


	.weather-summary {
		line-height: 1.75rem;
	}


	.weather-summary {
		max-width: 70%;
	}

	.summaryContainer {
		font-size: 1.5rem;
	}

	.content-box {
		background-color: #C2948A;
		max-width: 1000px;
	}

	footer {
		font-size: 1.25rem;
		max-width: 1000px;
	}

	footer a {
		bottom: 0px;
	}

	/* CSS for Gallery Page */

	.mainGallery {
		max-width: 1750px;
	}

	.galleryContainer {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.mainGallery figure:hover {
		box-shadow: 0 0 50px rgb(12, 11, 11);
	}

	/* CSS for "Storm Center" Page */

	.h2StormCenter {
		font-size: 2rem;
	}

	form label.bottom {
		padding: .4rem 0;
	}
}