/* Tablet Views ******************************/
@media only screen and (min-width: 32.5em) {

	.motto {
		font-size: 1rem;
		padding-top: 10px;
	}

	.logo {
		width: 90px;
	}

	.headings h1 {
		font-size: 2.5rem;
	}

	.h2info {
		font-size: 3rem;
		padding: 0 0 20px 0;
		margin: 20px;
	}

	footer {
		font-size: 1.25rem;
		max-width: 100%;
		padding-bottom: 10px;
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
	}

	main section {
		display: flex;
		width: 80%;
		margin: auto;
		margin-bottom: 20px;
		padding: 20px;
	}

	section:nth-child(odd) {
		flex-direction: row-reverse;
	}

	section div {
		margin: auto;
	}

	main img {
		width: 40%;
	}

	p {
		font-size: 1.1rem;
	}

	.roadcams {
		font-size: 2rem;
	}
}