/* Desktop Views ****************************/
@media only screen and (min-width: 64em) {


	/******************** Body, Header & Banner ********************/

	.headings h1 {
		font-size: 3rem;
	}

	.motto {
		font-size: 1.25rem;
		padding-top: 10px;
	}

	header img {
		width: 120px;
	}

	main h2 {
		font-size: 4rem;
	}


	/*********************** Navigation Menu ***********************/

	.navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 auto;
	}

	.navigation .active {
		font-size: 2rem;
	}

	.navigation .activeLi {
		background-color: rgb(62, 128, 163);
	}

	.navigation a:hover {
		font-weight: 100;
		color: yellow;
	}


	/*************************** Footer ***************************/

	footer {
		font-size: 1.25rem;
		max-width: 1000px;
	}

	footer a {
		bottom: 0px;
	}


	/************************* Home Page *************************/

	.townInfo {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: auto;
		height: auto;
		margin: 10px;
	}

	.townInfo section {
		display: block;
	}

	.homePageMain section img {
		width: 90%;
	}

	.homePageMain p {
		font-size: 1.1rem;
	}

	.traffic {
		width: 700px;
		justify-content: center;
		margin: 40px auto;
	}

	.traffic h5 {
		font-size: 2.5rem;
	}

	.traffic p {
		font-size: 2rem;
		line-height: 3.5rem;
	}

	.homePageMain .contentBox {
		margin: 50px auto;

	}


	/************************* Preston, Soda Springs, Fish Haven Pages ************************/

	.weatherSummary {
		line-height: 1.75rem;
	}

	.weatherSummary {
		max-width: 70%;
	}

	.summaryContainer {
		font-size: 1.5rem;
	}

	.contentBox {
		max-width: 1000px;
	}


	/********************** Storm Center Page **********************/

	.stormPageMain form fieldset {
		width: 18%;


	}


	/************************* Gallery Page *************************/

	.galleryPageMain {
		max-width: 1750px;
	}

	.galleryContainer {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.galleryPageMain figure:hover {
		box-shadow: 0 0 50px rgb(12, 11, 11);
	}
}