/******************** Body, Header & Banner ********************/

* {
    margin: 0;
}

#banner {
    background: yellow;
    text-align: center;
    margin: 0rem;
    line-height: 2rem;
}

body {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: white;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    text-align: center;
    font-family: 'Kalam', cursive;
    color: #F6F0ED;
    background-color: #28536B;
    padding: 10px;
}

.headings {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.headings h1 {
    font-size: 2rem;
    margin: 0 0 0 0px;
    text-shadow: 5px 5px black;
    line-height: 2rem;
}

.motto {
    font-size: .85rem;
    letter-spacing: 1pt;
    text-shadow: 3px 3px black;
}

header img {
    width: 70px;
    height: auto;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

main h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 10px 40px 10px;
    margin: 10px;
}


/*********************** Navigation Menu ***********************/

.navigation {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #7EA8BE;
    font-weight: 500;
    font-size: 1.25rem;
}

nav .menu {
    background-color: rgb(62, 128, 163);
    border: none;
    font-size: 1.4rem;
    font-weight: 700;
    border: 2px solid black;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: black;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation .active {
    background-color: rgb(62, 128, 163);
    color: yellow;
    font-weight: 400;
    font-size: 1.75rem;
}

.navigation a:hover {
    color: #000;
    font-weight: 600;
    background-color: rgb(62, 128, 163);
    color: black;
}

.responsive li {
    display: block;
}


/*************************** Footer ***************************/

footer {
    display: flex;
    flex-flow: column;
    font-size: 1rem;
    font-family: 'Buenard', serif;
    color: white;
    text-align: center;
    margin: 0 auto;
    background-color: #28536B;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

footer a {
    padding-bottom: 10px;
    color: white;
}


/************************* Home Page *************************/

.homePageMain .townInfo {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    row-gap: 5px;
    text-align: center;
    box-shadow: 2px 2px 10px 18px rgba(0, 0, 0, 0.40);
}

.homePageMain section {
    background-color: rgb(199, 186, 186);
    border: 1px solid rgb(78, 78, 78);
    padding: 10px;
    margin-bottom: 10px;
}

.homePageMain section img {
    width: 80%;
    height: auto;
    margin: 25px 0 10px 0;
    box-shadow: -1px 1px 22px 1px rgba(0, 0, 0, 1);
}

.homePageMain h3 {
    margin: 10px;
    padding: 10px 0 10px 0;
    color: rgb(0, 0, 170);
    font-size: 3rem;
    font-family: 'Kalam', cursive;
}

.homePageMain h4 {
    color: rgb(0, 0, 170);
    font-size: 1.5rem;
    padding: 0 0 30px 0;
    font-family: 'Kalam', cursive;
}

.homePageMain p {
    color: black;
    font-size: 1.5rem;
}

.homePageMain section div {
    padding-bottom: 20px;
}

.traffic {
    display: block;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 3px solid black;
    background-color: rgb(199, 186, 186);
    line-height: 3rem;
}

.traffic a:hover {
    color: #000;
    background-color: #7EA8BE;
    color: black;
    border: 2px solid black;
}

.traffic a {
    color: rgb(0, 0, 170);
}

.traffic h5 {
    font-size: 1rem;
    background-color: #F0F0F0;
    color: #8F0000;
    animation: blink 3s linear infinite;
}

.traffic p {
    font-size: 1.25rem;
}


@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}


/************************* Preston Page ************************/

.prestonPhoto {
    position: relative;
    font-size: 1.25rem;
}

.prestonPhoto figure {
    width: 100%;
    margin: 0;
}

.prestonPhoto img {
    position: relative;
    width: 100%;
    height: 250px;
}

.prestonWeatherSummary {
    position: absolute;
    top: 20px;
    left: 20px;
    background: linear-gradient(to right, rgb(1, 4, 27), rgba(0, 0, 0, 0));
    border: 1px solid blue;
    padding: 10px;
    box-shadow: 0 0 30px #777;
    border-radius: 15px;
    letter-spacing: 1pt;
    color: white;
    line-height: 1.25rem;
    text-shadow: 2px 2px black;
    max-width: 65%;
}

.summaryContainer {
    display: grid;
    column-gap: 25px;
    padding: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "current currentValue"
        "temp tempValue"
        "highTemp highTempValue"
        "lowTemp lowTempValue"
        "windChill windChillValue"
        "humidity humidityValue"
        "windSpeed windSpeedValue";
    font-size: .75rem;
}

.prestonWeatherSummary h3 {
    border-bottom: 1px solid white;
    padding-top: 10px;
    padding-bottom: 5px;
    letter-spacing: 1pt;
    font-size: 1.25rem;
}

.current {
    grid-area: current;
    text-align: right;
}

.temp {
    grid-area: temp;
    text-align: right;
}

.highTemp {
    grid-area: highTemp;
    text-align: right;
}

.lowTemp {
    grid-area: lowTemp;
    text-align: right;
}

.windChill {
    grid-area: windChill;
    text-align: right;
}

.humidity {
    grid-area: humidity;
    text-align: right;
}

.windSpeed {
    grid-area: windSpeed;
    text-align: right;
}

.currentValue,
.tempValue,
.highTempValue,
.lowTempValue,
.windChillValue,
.humidityValue,
.windSpeedValue {
    color: yellow;
}

.forecastSection {
    display: none;
}

.contentBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #C2948A;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contentInfo,
.contentPic {
    max-width: 100%;
    flex: 1 0 15em;
    font-family: 'Kalam', cursive;
    margin-top: 20px;
}

.contentTitle {
    font-size: 1.5em;
}

.contentPic {
    padding-top: 10px;
}

.contactBox {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(211, 204, 185);
}

.contactInfo {
    max-width: 95%;
    padding: 10px;
}

.contactTitle {
    font-size: 1.25rem;
}

.boxHeading {
    display: none;
}

.author {
    font-style: italic;
    font-size: 1rem;
    text-indent: 1rem;
}

.prestonMap {
    display: none;
}

.icons img {
    padding-right: 5px;
}


/********************** Storm Center Page **********************/

.stormPageMain {
    padding: 0 2%;
    min-height: 20rem;
}

.stormPageMain form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
    padding-bottom: 2rem;
    width: 90%;
    margin: 0 auto;

}

.stormPageMain form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

.stormPageMain form label.top,
.stormPageMain form label.tellUs,
.stormPageMain form div.danger,
#comments {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 1rem;
}

.stormPageMain form label.top input,
.stormPageMain form label.top select,
.stormPageMain form label.tellUs input,
#comments {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.stormPageMain form label.top select {
    max-width: 21.5rem;
}

.stormPageMain form label.dangerOption {
    display: block;
    padding: 3px;
}

#comments {
    height: 5rem;
}

.stormPageMain form label.top input:required {
    border-left: red solid 6px;
}

.stormPageMain form label.top input:required:valid {
    border-left: green solid 6px;
}

input:hover,
.stormPageMain form label.top select {
    cursor: pointer;
}

#rating {
    width: 20rem;
}

#ratingValue {
    padding-left: 10px;
    color: #445ba9;
    font-size: 1.75rem;
}

.stormPageMain form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

.formSubmitButton {
    width: 100%;
    text-align: center;
    padding: 25px 0 0 0;

}


/************************ Thank You Page ************************/

.thankyou {
    color: red;
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    text-align: center;
    padding: 50px 0 50px 0;
}


/************************* Gallery Page *************************/

.galleryMainPage figure {
    border: 2px solid black;
    background-color: rgb(199, 186, 186);
}

.galleryContainer img[data-src] {
    filter: blur(0.2em);
}

.galleryContainer img {
    filter: blur(0em);
    transition: filter 1s;
    width: 94%;
    margin: 10px;
}

.galleryPicCaption {
    display: grid;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    color: rgb(0, 0, 170);
    font-size: 1.25rem;
}